<br><br>
<br><br>
<br><br>
<br><br>
<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-block">
      <!--Header-->
       <div class="form-header grey-gradient">
           <h3> Sign In</h3>
       </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <%= f.text_field :email, required: false, autofocus: true, placeholder: "johndoe@gmail.com", class: "form-control" %>
          <label for="email">Email</label>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <%= f.text_field :password, required: true %>
          <label for="password">Password</label>
        </div>
        <div class="md-form">
          <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="md-form">
          <%= f.button "Sign In", class: "btn btn-block btn-rounded btn-lg grey-gradient", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>Processing..."} %>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<br><br><br><br>
