<div class="col-md-6 mx-auto">
  <%= form_with(model: post, multiple: true) do |f| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="md-form">
      <i class="fa fa-camera-retro prefix fa-fonts"></i>
      <%= image_tag(@post.image_url) if @post.image? %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>

    <div class="md-form">
      <%= f.label :title %>
      <%= f.text_field :title, id: :post_title, autofocus: true, class: "form-control white-text" %>
    </div>

    <div class="md-form">
      <%= f.label :description %>
      <%= f.text_area :content, id: :post_content, class: "md-textarea white-text" %>
    </div>

    <div class="md-form">
      <%= f.button class: "btn btn-block btn-lg btn-rounded grey-gradient", data: { disable_with: "<i class='fa fa-spinner fa-5x fa-spin'></i> Processing..."} %>
    </div>
  <% end %>

</div>
