<div class="container">
  <!-- Magazine -->
  <div class="row">
    <!-- Main  -->
    <div class="col-md-12">
      <!-- Section: Single article -->
      <section class="article-section">
        <!-- Image -->
        <div class="view overlay hm-white-light z-depth-2 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <% if @post.image? %>
          <%= image_tag @post.image, class: "img-fluid" %>
        <% else %>
          <img src="https://www.pfsuites.com/images/no_image_available.png" class="image-fluid hm-zoom" style="width: 100%; height: 625px;" alt="Empty Image">
        <% end %>
          <a>
            <div class="mask waves-light waves-effect waves-light"></div>
          </a>
        </div>
        <br>
        <div class="article-text wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
          <!-- Post data -->
          <h1 class="h1-responsive text-center"><%= @post.title %></h1>

          <h5 class="text-center ">By<a href="" class="white-text"><strong> <%= @post.user.full_name.titleize %></strong></a> on <%= @post.created_at.strftime("%B  %d %Y") %> &nbsp; &nbsp; &nbsp;

          <div class="section-heading">
          <br>
            <%= link_to like_post_path(@post), class: "like-btn", method: :put, remote: true do %> 
              <span class="fa fa-thumbs-up fa-lg white-text"></span> <span class="likes-count badge grey-gradient"><%= @post.get_upvotes.size %></span>
            <% end %>
          </div>
          </h5>
          <!-- Article -->
          <p><%= simple_format(@post.content) %> <% if current_user || current_user.admin %>
           <%= link_to '', edit_post_path(@post), data: {content: 'Edit', placement: 'top', trigger: 'hover'}, class: "fa fa-pencil fa-lg white-text" %> &nbsp;
           <%= link_to '', post_path(@post), method: :delete, data: {confirm: "Are you sure?",  content: 'Delete', placement: 'top', trigger: 'hover'}, class: "fa fa-trash fa-lg white-text" %> 
          <% end %> &nbsp; &nbsp;</p>
        </div>
         
      </section>
      <div class="section-heading">
      <%= link_to 'Comments', "#", id: "comments-link" %> <span class="badge white-text grey-gradient"><%= @post.comments.count %></span>
    </div>
      <br>
      <%= render @comments %>
      </div>
      <!--/ Main  -->
       <hr class="between-sections wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

      <!--Section: Leave a reply (Logged In User)-->
<section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
    <p class="text-center">(<%= current_user.first_name.capitalize %>)</p>

  <!--Leave a reply form-->
  <div class="reply-form">

    <!--Third row-->
    <div class="row">
      <!--Image column-->
      <div class="col-sm-2 col-12">
        <%= gravatar_for(current_user, size: 150) %>
      </div>
      <!--/.Image column-->
  <div class="container">
    <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
        <div class="md-form">
          <%= f.text_area :content, class: "md-textarea white-text" %>
        </div>
        <div class="text-center">
        <%= f.submit  class: "btn btn-outline-white btn-lg btn-rounded grey-gradient" %>
      </div>
    <% end %>
</div>

    </div>
    <!--/.Third row-->
  </div>
  <!--/.Leave a reply form-->

</section>
<!--/Section: Leave a reply (Logged In User)-->


</div>
    </div>
    <!--/ Magazine -->
  </div>
 
  <%= link_to '', posts_path, class: "fa fa-hand-o-left fa-2x grey-text" %>