<div class="container">

  <!-- Magazine -->
  <div class="row">
    <!-- Main news -->
    <div class="col-md-12">

      <!-- Section: Single article -->
      <section class="article-section">

        <!-- Image -->
        <div class="view overlay hm-white-light z-depth-2 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <%= image_tag @post.image, class: "img-fluid" %>
          <a>
            <div class="mask waves-light waves-effect waves-light"></div>
          </a>
        </div>

        <div class="article-text wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
          <!-- Post data -->
          <h1 class="h1-responsive text-center"><%= @post.title %></h1>

          <h5 class="text-center ">By<a href="" class="white-text"><strong> <%= @post.user.full_name.titleize %></strong></a> on <%= @post.created_at.strftime("%B %d %Y") %> </h5>


          <!-- Article -->
          <p><%= @post.content %></p>


        </div>

        <!-- Article footer -->

        <!--/ Article footer -->

      </section>
      <!--/ Section: Single article -->
      
      <hr class="between-sections wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

      <%= render 'comments/comment' %>


        <hr class="between-sections wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

      </div>
      <!--/ Main news -->

    </div>
    <!--/ Magazine -->

  </div>
  <% if can? :update, @post  %><%= link_to 'Edit', edit_post_path(@post) %> <% end %>
  <%= link_to 'Back', posts_path %>
