<div class="col-md-4 mx-auto">
  <div class="card grey-gradient">
    <div class="card-block">
      <div class="form-header grey-gradient">
        <i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i>
      </div>
      <%= form_with(model: gallery, multiple: true) do |f| %>
        <% if gallery.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

            <ul>
            <% gallery.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="md-form">
          <i class="fa fa-camera-retro prefix"></i>
          <%= image_tag(@gallery.image_url) if @gallery.image? %>
          <%= f.file_field :image, accept: 'image/jpeg,image/jpg,image/gif,image/png' %>
          <%= f.hidden_field :image_cache %>
        </div>

        <br>

        <div class="md-form">
          <%= f.label :title %>
          <%= f.text_field :title, autofocus: true, id: :gallery_title, class: "white-text" %>
        </div>

        <div class="md-form">
          <%= f.button 'Upload Image', class: "btn btn-block btn-lg btn-rounded grey-gradient", data: { disable_with: "<i class='fa fa-spinner fa-5x fa-spin'></i> Processing..."} %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  $('#image_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 10) {
      alert('Maximum file size is 10MB.');
    }
  });
</script>
